@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Sigmar+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Londrina Solid", sans-serif;
    scroll-behavior: smooth;
}

.hero-title,
.title-section {
    color: #FFAE00;
    text-shadow: 8px 11px 0px #000;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #400072;
    font-family: "Sigmar One", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.text-stroke-sm {

    -webkit-text-stroke: #400072 1px;
}

.text-stroke-md {

    -webkit-text-stroke: #400072 2px;
}

.text-stroke-lg {

    -webkit-text-stroke: #400072 4px;
}

.text-stroke-xl {

    -webkit-text-stroke: #400072 9px;
}

.shadow-effect {
    box-shadow: 0px 8px 0px 0px #000;
}

header a,
header button {
    text-shadow: -1px 1px 0px #000;
    font-size: 25px;
}

.about-content {
    background: url('/img/about-bg-text.png');
    background-size: 100% 40rem;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .about-content {
        background-size: 100% 50rem;
    }
}